
@charset "utf-8";

body {
    border: 0 none;
    color: #6B6B6B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.clear {
    border: 0 none;
    clear: both;
    margin: 0;
    padding: 0;
}

div.mainContainer {
    height: auto !important;
    min-height: 500px;
    width: 100%;
    min-width:1000px !important;
}

.warning_box {
    width: 94%;
    clear: both;
    background: url(../../Images/warning.png) no-repeat left #fcfae9;
    border: 1px #e9e6c7 solid;
    background-position: 10px 1px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
    color: Red;
}

    div.mainContainer div.topHead {
        background: url("../Images/melmarkTop.jpg") repeat-y scroll left top #00539F;
        height: 47px;
        min-width: 800px;
        width: 100%;
    }

        div.mainContainer div.topHead a.admin, div.mainContainer div.topHead a.admin:link, div.mainContainer div.topHead a.admin:visited {
            background: url("../Images/admin1.png") no-repeat scroll left 5px transparent;
            color: #FFFFFF;
            display: block;
            float: left;
            font-size: 12px;
            font-weight: bold;
            height: 18px;
            margin: 10px 0 0 15px;
            padding: 6px 0 0 22px;
            text-decoration: none;
            width: 5%;
        }

            div.mainContainer div.topHead a.admin:hover {
                background-position: 0 -16px;
                color: #8ED99D;
            }

        div.mainContainer div.topHead a.logout, div.mainContainer div.topHead a.logout:link, div.mainContainer div.topHead a.logout:visited {
            background: url("../Images/Logout.png") no-repeat scroll left 5px transparent;
            color: #FFFFFF;
            display: block;
            float: right;
            font-size: 12px;
            font-weight: bold;
            height: 18px;
            margin: 10px 0 0 15px;
            padding: 6px 0 0 22px;
            text-decoration: none;
            width: 5%;
        }

            div.mainContainer div.topHead a.logout:hover {
                background-position: 0 -16px;
                color: #81ABCE;
            }

        div.mainContainer div.topHead a.home, div.mainContainer div.topHead a.home:link, div.mainContainer div.topHead a.home:visited {
            background: url("../Images/hm.png") no-repeat scroll left 5px transparent;
            color: #FFFFFF;
            display: block;
            float: right;
            font-size: 12px;
            font-weight: bold;
            height: 18px;
            margin: 10px 0 0 15px;
            padding: 6px 0 0 22px;
            text-decoration: none;
            width: 5%;
        }

            div.mainContainer div.topHead a.home:hover {
                background-position: 0 -16px;
                color: #81ABCE;
            }


              div.mainContainer div.topHead a.Report, div.mainContainer div.topHead a.Report:link, div.mainContainer div.topHead a.Report:visited {
            background: url("../Images/Client_reports.png") no-repeat scroll left 5px transparent;
            color: #FFFFFF;
            display: block;
            float: right;
            font-size: 12px;
            font-weight: bold;
            height: 18px;
            margin: 10px 0 0 15px;
            padding: 6px 0 0 22px;
            text-decoration: none;
            width: 5%;
        }

            div.mainContainer div.topHead a.Report:hover {
                background-position: 0 -16px;
                color: #81ABCE;
            }

    div.mainContainer div.contentPart {
        background: url("../Images/bginner.JPG") repeat scroll left top transparent;
        border-bottom: 1px solid #DCDCDC;
        height: auto !important;
        min-height: 500px;
        width: 100%;
    }

        div.mainContainer div.contentPart div.imgcorner {
            border-bottom: 1px solid #DCDCDC;
            height: 85px;
            margin: 0;
            min-width: 800px;
            padding: 0;
            width: 100%;
            background: url("../Images/curve.JPG") right top no-repeat;
        }

        div.mainContainer div.contentPart div.nobddr {
            border-bottom: medium none;
            height: 50px !important;
        }

        imgcorner div.mainContainer div.contentPart div.imgcorner a.logo, div.mainContainer div.contentPart div.imgcorner a.logo:link, div.mainContainer div.contentPart div.imgcorner a.logo:visited {
            border: 0 none;
            display: block;
            float: left;
            height: 40px;
            margin: 5px 0 0 10px;
            width: 250px;
        }

        div.mainContainer div.contentPart div.imgcorner a.logo img {
            border: 0 none;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer {
            background: none repeat scroll 0 0 #FFFFFF;
            height: auto !important;
            margin: 0 auto;
            min-height: 500px;
            min-width: 800px;
            width: 100%;
            z-index: 999;
        }

        div.mainContainer div.contentPart div.nobg {
            background-color: #FFFFFF;
            border: 2px solid #B6D1DD;
            border-radius: 5px 5px 5px 5px !important;
            box-shadow: 0 1px 5px 3px #BFC0C1;
            height: auto;
            margin: 15px auto;
            padding: 5px;
            width: 97%;
            min-width: 900px!important;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer {
            background: none repeat scroll 0 0 #E5E5E5;
            float: left;
            height: auto !important;
            margin: 0;
            min-height: 500px;
            min-width: 130px;
            padding: 35px 0 0;
            width: 17%;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.middleContainer {
            float: left;
            height: auto !important;
            margin: 0 1% 10px;
            min-height: 500px;
            min-width: 384px;
            width: 63%;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.middleContainer h2 {
                color: #026857;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 24px;
                font-weight: normal;
            }

        div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer {
            background: none repeat scroll 0 0 #FFFFFF;
            float: right;
            height: auto !important;
            margin: 0 0 10px;
            min-height: 500px;
            min-width: 192px;
            padding: 42px 0 0;
            width: 18%;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.imgcontainer {
                border: 1px solid #BFBFBF;
                float: left;
                height: 200px;
                width: 160px;
            }

                div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.imgcontainer h4 {
                    background: none repeat scroll 0 0 #006552;
                    color: #FFFFFF;
                    font-family: Arial,Helvetica,sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0;
                    padding: 5px;
                }

        div.mainContainer div.contentPart div.ContentAreaContainer h2 {
            border-bottom: 1px solid #B2CCCA;
            font-size: 18px;
            font-weight: bold;
            margin: 0 auto 10px;
            padding: 8px 0 7px 1%;
            text-align: left;
            width: 98%;
        }

      

          

              

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer h3, div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer h3 {
            background: none repeat scroll 0 0 #0053A1;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: normal;
            margin: 0;
            padding: 7px 0 7px 3%;
            text-align: left;
            width: 97%;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn, div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn:link, div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn:visited {
            background: url("../Images/btnbg.JPG") repeat-x scroll left top transparent;
            border-radius: 3px 3px 3px 3px;
            color: #FFFFFF;
            display: block;
            font-size: 12px;
            font-weight: bold;
            height: 38px;
            margin: 10px auto 0;
            text-decoration: none;
            width: 80%;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn:hover {
                color: #000000;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn img {
                border: 0 none;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn img {
                display: block;
                float: left;
                margin: 0 0 0 8px;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.rightbtn span {
                display: block;
                float: left;
                margin: 12px 0 0 10px;
            }

        div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.lfAlainAtag, div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.lfAlainAtag:link, div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.lfAlainAtag:visited {
            background: url("../Images/grarro.PNG") no-repeat scroll left 5px transparent;
            color: #4F4F4F;
            display: block;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            margin: 0 auto;
            padding: 2px 0 2px 15px;
            text-align: left;
            text-decoration: none;
            width: 74%;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer a.lfAlainAtag:hover {
                color: #0C69BB;
            }

        div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu {
            background: none repeat scroll 0 0 #D3D3D3;
            cursor: pointer;
            height: 29px;
            margin: 3px 0 0 30px;
            min-width: 102px;
            overflow: hidden;
            width: 80%;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu span.clsbtn {
                background: url("../Images/clsbtn.png") no-repeat scroll 0 0 transparent;
                display: block !important;
                float: right;
                height: 14px;
                padding: 0;
                width: 20px;
            }

                div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu span.clsbtn:hover {
                    background-position: 0 -16px;
                }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu:hover {
                background: none repeat scroll 0 0 #BDD4EA;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu img {
                border: 0 none;
                display: block;
                float: left;
                padding: 0;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.rightContainer div.listmenu span {
                color: #504F4F;
                display: block;
                float: left;
                font-size: 11px;
                margin: 7px 5px 0;
                overflow: hidden;
                position: inherit;
                width: 100%;
            }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer h4 {
            color: #6B6B6B;
            font-size: 14px;
            font-weight: bold;
            margin: 7px 0;
            padding: 0 0 0 3%;
            width: 97%;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input.tx {
            border: 1px solid #B3B3B3;
            border-radius: 3px 3px 3px 3px;
            color: #666666;
            float: left;
            font-size: 11px;
            margin: 0 0 0 3%;
            padding: 8px 2px;
            width: 60%;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input.bt {
            background: none repeat scroll 0 0 #03507D;
            border: 0 none;
            border-radius: 3px 3px 3px 3px;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 10px;
            font-weight: bold;
            height: 31px;
            margin: 0 0 0 2%;
            min-width: 45px;
            padding: 0 0 3px;
            width: 20%;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input {
            background: url("../Images/arrow.jpg") no-repeat scroll 0 -49px transparent;
            border: 0 none;
            color: #4F4F4F;
            cursor: pointer;
            display: block;
            float: right;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: bold;
            height: 49px;
            letter-spacing: 1px;
            margin: 0;
            padding: 13px 0 28px 30px;
            text-align: left;
            text-decoration: none;
            width: 210px;
        }

          div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer2 input {
            background: url("../Images/arrow2.jpg") no-repeat scroll 0 -49px transparent;
            border: 0 none;
            color: #4F4F4F;
            cursor: pointer;
            display: block;
            float: left;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: bold;
            height: 49px;
            letter-spacing: 1px;
            margin: 0;
            padding: 13px 0 28px 30px;
            text-align: left;
            text-decoration: none;
            width: 322px;
        }
        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer2 {
        float:left;
        }
         div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer2 input:hover {
         background-position: 0 0;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input:hover, div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input.current {
                background-position: 0 0;
            }

            div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer input.bt:hover {
                background: none repeat scroll 0 0 #0E71C1;
                color: #FFFFFF;
            }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainera, div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer a:link, div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer a:visited {
            color: #4F4F4F;
            display: block;
            float: right;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: bold;
            height: 48px;
            margin: 0;
            text-decoration: none;
            width: 210px;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer a:hover {
            background: url("../Images/menogradientbg.png") no-repeat scroll left bottom #FFFFFF;
        }

        div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer a span {
            background: url("../Images/arrow.png") no-repeat scroll 5px top transparent;
            display: block;
            float: left;
            height: 20px;
            margin: 13px 0 0;
            padding: 0 0 0 28px;
            width: 180px;
        }

            div.mainContainer div.contentPart div.ContentAreaContainer div.leftContainer a span:hover {
                background-position: 5px -22px;
                color: #026857;
            }

    div.mainContainer div.footer {
        height: 45px;
        margin: 10px 0 0;
        width: 100%;
    }

        div.mainContainer div.footer img {
            border: 0 none;
            float: left;
            margin: 10px 0 0 25px;
        }

        div.mainContainer div.footer div.copyright {
            color: #666666;
            float: right;
            font-size: 11px;
            height: 25px;
            margin: 5px 0 25px;
            text-align: left;
            text-decoration: none;
            width: 22%;
        }

.nomarg {
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.mainContainer div.contentPart div.ContentAreaContainer div.middleContainer {
    float: left;
    height: auto !important;
    margin: 0 1% 10px;
    min-height: 500px;
    min-width: 384px;
    width: 63%;
}

div.mainContainer div.contentPart div.ContentAreaContainer div.edited {
    float: none !important;
    height: auto !important;
    margin: 0 auto !important;
    width: 99% !important;
}

.selContainer {
    float: left;
    height: 25px;
    width: 25%;
}

.headingDivBar {
    background-color: #F1F1F1;
    border-bottom: 2px solid #C3C0C0;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    margin: 2px 0;
    padding: 8px 0 0 5px;
    width: 100%;
}

    .headingDivBar a {
        background-color: #FFFFFF;
        border-bottom: 5px solid #005005;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        bottom: 197px;
        font-family: arial;
        height: 25px;
        position: absolute;
        text-align: center;
        top: 135px;
        width: 110px;
        cursor: pointer;
    }

.listCont {
    float: right;
    width: 20%;
    height: 25px;
    margin: 10px 0 0 0;
}

#ddlSort {
    float: right;
    width: 74%;
    height: 24px;
    min-width: 100px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #666;
}

#txtSearch {
    float: right;
    width: 100%;
    height: 18px;
    min-width: 100px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #666;
}


.topbarCo {
    width: 85%;
    margin: 0 auto;
    /*background: #f00;*/
    /*min-width: 900px !important;*/
}

#btnNewRegistration {
    background: url("../Images/bttbg.JPG")left top repeat !important;
    color: #fff !important;
    cursor: pointer;
    float: left;
    margin: 10px 10px !important;
    border: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px !important;
    font-weight: bold!important;
    border-radius: 3px;
    padding: 4px 8px;
}

.boxcontainer {
    border: none !important;
    color: #666 !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px !important;
    font-weight: bold;
    padding: 3px 5px !important;
    background: #f6f6f6 !important;
    border-radius: 0px;
    padding: 5px;
    border: 4px solid #eaeaea!important;
    height: 110px !important;
}



.centerpartCon {
    height: 450px;
    margin: 0 auto;
    width: 96%;
}

.boxstyleCon {
    border: none !important;
    color: #666 !important;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 11px !important;
    font-weight: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

.MiddleContainerStyle {
    height: 500px !important;
    width: 88% !important;
    margin: 0 auto !important;
    min-width: 900px !important;
}
