<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        td {
            border: 1px solid lightgrey;
            border-collapse: collapse;
            border-spacing: 0;
            font-weight: 700;
            font-size: medium;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
    </style>
</head>
<body>
    <div>
        <table align="center" style="width: 70%; border: none;">
            <tr>
                <td style="font-weight: 700; text-decoration: underline; border: none;">Identification</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%; border: 1px solid;">
                        <tr>
                            <td colspan="2">
                                <img width="320px" height="150px" />
                            </td>
                            <td colspan="2">
                                <table style="width: 100%;">

                                    <tr>
                                        <td style="font-weight: 700">Legal Name (Last, First, MI)</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: 700">Nickname</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Birth</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Current Address or Residential Service Setting</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Admission</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Place of Birth</b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Citizenship</b></td>
                                        <td></td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Race</b></td>
                            <td></td>
                            <td><b>Primary Language</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Height (date)</b></td>
                            <td></td>
                            <td><b>Gender</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Weight (date)</b></td>
                            <td></td>
                            <td><b>Legal Competency Status</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Hair Color</b></td>
                            <td></td>
                            <td><b>Guardianship Status</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Eye Color</b></td>
                            <td></td>
                            <td><b>Other State Agencies Involved With Student</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Distinguishing Marks</b></td>
                            <td></td>
                            <td><b>Marital Status of Both Parents</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Case Manager Residential</b></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Case Manager Educational</b></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Educational Surrogate: (if applicable)</b></td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-weight: 700; text-decoration: underline; border: none;">
                    <br />
                    Emergency Contacts – Personal</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td rowspan="4" style="background-color: #000000; text-align: center;"><b style="color: #FFFFFF">1.</b></td>
                            <td><b>Relation</b></td>
                            <td></td>
                            <td><b>Full Name</b></td>
                            <td></td>
                            <td><b>Primary Language</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Address</b></td>
                            <td colspan="3" rowspan="3"></td>
                            <td><b>Home Phone</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Other Phone</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>E-mail</b></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; font-weight: 700; text-decoration: underline;">
                    <br />
                    Emergency Contacts – School</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="background-color: #000000; color: #FFFFFF; text-align: center;">1.</td>
                            <td>Full Name, Title</td>
                            <td></td>
                            <td>Phone</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; font-weight: 700; text-decoration: underline;">
                    <br />
                    Medical and Insurance</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="background-color: #000000; color: #FFFFFF; text-align: center; width: 10%;" rowspan="2">Primary Physician</td>
                            <td>Full Name</td>
                            <td></td>
                            <td>Office Phone</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="background-color: #000000; color: #FFFFFF; text-align: center; width: 10%;" rowspan="2">Insurance</td>
                            <td>Insurance Type</td>
                            <td></td>
                            <td>Policy Number</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Policy Holder</td>
                            <td></td>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td>Date of Last Physical Exam</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Medical Conditions/

Diagnosis</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Allergies</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Current Medications</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Self Preservation Ability</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Significant Behavior

Characteristics</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td rowspan="6">Relevant Capabilities,
                                <br />
                                Limitations, and
                                <br />
                                Preferences</td>
                            <td>Capabilities</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Limitations</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Preferences</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; text-decoration: underline;">
                    <br />
                    Referral/IEP Information</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="background-color: #000000; color: #FFFFFF; text-align: center; width: 10%;" rowspan="2">Liaison</td>
                            <td>Full Name, Title</td>
                            <td></td>
                            <td>Phone</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <br />
                    <table style="width: 100%;">
                        <tr>
                            <td>Referring Agency</td>
                        </tr>
                        <tr>
                            <td>Source of Tuition</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; text-decoration: underline;">
                    <br />
                    Education History</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td>Date Initially Eligible for Special Education</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date of Most Recent Special Education Evaluations</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Date of Next Scheduled 3-Year Evaluation</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Current IEP Start Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Current IEP Expiration Date</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; text-decoration: underline;" class="auto-style4">
                    <br />
                    Schools Attended</td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium;  font-size: x-small;"><span class="auto-style2"><span class="auto-style1" style="font-style: italic;">Lists schools attended in reverse-chronological order with current placement first.</span><br />
                    </span>
                    <table style="width: 100%;">
                        <tr>
                            <td class="auto-style3"><span class="auto-style2">Name</td>
                            <td>Address</td>
                            <td>Dates Attended</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-style: none; border-color: inherit; border-width: medium; text-decoration: underline;">
                    <br />
                    Discharge Information</td>
            </tr>
            <tr>
                <td style="border: none;">
                    <table style="width: 100%;">
                        <tr>
                            <td>Discharge Date</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Location After Discharge</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Melmark New England’s Follow

Up Responsibility</td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: none;"></td>
            </tr>
        </table>

    </div>
</body>
</html>
